@font-face {
	font-family: RandomGrotesque;
	font-display: swap;
	src: url("../fonts/RandomGrotesque-Bold.woff2") format("woff2"), url("../fonts/RandomGrotesque-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RandomGrotesque;
	font-display: swap;
	src: url("../fonts/RandomGrotesque-Medium.woff2") format("woff2"), url("../fonts/RandomGrotesque-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RandomGrotesque;
	font-display: swap;
	src: url("../fonts/RandomGrotesque-Semibold.woff2") format("woff2"), url("../fonts/RandomGrotesque-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
